.heading {
    background-image: url("./img//image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    @include flex(center, center);
    text-align: center;
    div{
      width: 380px;
    }
    p{
      margin: 21px 0 32px;
    }
    
    @media(max-width:1028px) {
      height: 500px;
    }
    @media(max-width:768px) {
      margin:0 17px;
    }
    @media(max-width:410px) {
      margin:0 5px;
      button{
        display: none;
      }
    }
  }